
section.intro{
    margin-top: 100px !important;
}

div .nav-logo{
    width: 190px;
    margin-bottom: 10px;
}
li .nav-link{
    color: #000000 !important;
    font-family: 'ITC Avant Garde Gothic Std Demi' !important;
    font-size: 14px;  
}
li.nav-item a.nav-link.active{
    color: #FA2C28 !important;
}
li button.btn-pill{
    height: 41px;
    width: 137px !important;
    border-radius: 100px !important;
    background-color: #FA2C28 ;
    font-family: 'ITC Avant Garde Gothic Std Demi' !important;
    text-align: center !important;
    font-size: 14px;  
}
li button.btn-pill-outline{
    height: 41px;
    width: 137px !important;
    border-radius: 100px !important;
    border-color: #FA2C28 !important;
    color: #FA2C28;
    font-family: 'ITC Avant Garde Gothic Std Demi' !important;
    text-align: center !important;
    font-size: 14px;  
}
li button.btn-pill-outline:hover{
    border-color: #FA2C28 !important;
    background-color: #FA2C28 !important;
    color: white;  
}
div h5.shop-at{

    font-family: 'ITC Avant Garde Gothic Std Demi' !important;
    font-size: 16px; 
}
div h1.donated-goods{
    font-family: 'ITC Avant Garde Gothic Std Bold Condensed' !important;
    color: #FA2C28;
    font-size: 40px !important;
}
div h6.shop-from{
    font-family: 'ITC Avant Garde Gothic Std Bold' !important;
    font-size: 16px !important;
}
section.location{
    margin-top: 60px !important;
}
div h3.location{
    font-family: 'ITC Avant Garde Gothic Std Bold Condensed' !important;
    font-size: 20px !important;
    color: #FA2C28;
}
div.items{
    max-width: 200px !important;
}
img.clothes{
    width: 107.97px;
    height: 142.45px;
    margin-top: 7.2px;
}
img.shoes{
    width: 130.43px;
    height: 126.41px;
    margin-top: 21.5px;
}
img.medicine{
    width: 153.62px;
    height: 148.77px;
}
img.food{
    width: 113.04px;
    height: 139.82px;
    margin-top: 9.5px;
}
img.loc_dallas{
    width: 289px;
    height: 392px;
}
img.loc_fw{
    width: 289px;
    height: 392px;
}
div button.btn-pill-outline-2{
    height: 41px;
    width: 231px !important;
    border-radius: 300px !important;
    border-color: #FA2C28 !important;
    color: #FA2C28 !important;
    font-family: 'ITC Avant Garde Gothic Std Demi' !important;
    font-weight: bold;
    text-align: center !important;
    line-height: 14px;
    font-size: 12px;  
}
div button.btn-pill-outline-2:hover{
    border-color: #FA2C28 !important;
    background-color: #FA2C28 !important;
    color: white !important;
    
}
div.card-purpose{
    max-width: 640px;
    background-color: #FA2C28;
    border-radius: 10px;
}
h4.purpose{
    color: white;
    font-family: 'ITC Avant Garde Gothic Std Demi';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}
p.purpose{
    color: white;
    font-family: "ITC Avant Garde Gothic Std Demi";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}
section.purpose{
    margin-top: 40px;
}
h4.serve{
    font-family: "ITC Avant Garde Gothic Std Demi";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FA2C28;
}
div.col-serve{
    margin-top: 20px;
}
img.serve{
    width: 182px;
    height: 131.45;
    margin: 29px;
}
p.intrested{
    width: 640px;
    margin-top: 10px;
    font-family: "ITC Avant Garde Gothic Std Demi";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
section.become{
    margin-top: 40px;
}
img.become{
    width: 596px;
    margin-bottom: 20px;
}
p.become-text{
    width: 930px;
    margin-top: 10px;
    font-family: "ITC Avant Garde Gothic Std Demi";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 15px;
}
img.become-card{
    margin: 25px;
    width: 310px;
}
section.contact{
    margin: 40px;
}
h1.cause{
    font-family: "ITC Avant Garde Gothic Std Demi";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    /* identical to box height */
    text-align: center;

    color: #000000;
}
h1.cause-dgp{
    font-family: "ITC Avant Garde Gothic Std Demi";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;

    /* identical to box height */
    text-align: center;

    color: #FA2C28;
    margin: 15px;
}
h1.in-need{
    font-family: "ITC Avant Garde Gothic Std Demi";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000000;
}
div.landfills{
    max-width: 665px;
}
p.landfills{
    font-family: "ITC Avant Garde Gothic Std Demi";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000000;
    margin-top: 15px;
}
img.chuck{
    width: 410px;
    margin-top: 30px;
    margin-bottom: 30px;
}
h1.easy{
    font-family: ITC Avant Garde Gothic Std;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FA2C28;
}
img.footer{
    width: 1440px;
}