{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
  <div class="container-fluid">
    <div class="d-flex" href="#">
      <div>
        <img class="nav-logo" src="{% static 'shop/imgs/pngs/logo.png' %}" alt="logo">
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item m-2">
          <a class="nav-link" href="#">ABOUT</a>
        </li>
        <li class="nav-item m-2">
          <a class="nav-link" href="#">PROGRAMS</a>
        </li>
        <li class="nav-item m-2">
          <a class="nav-link" href="#">EVENTS</a>
        </li>
        <li class="nav-item m-2">
          <a class="nav-link" href="#">NEWS</a>
        </li>
        <li class="nav-item m-2">
          <a class="nav-link active" aria-current="page" href="#">SHOP</a>
        </li>
        <li>
          <button type="button" class="btn btn-danger btn-pill m-2">DONATE NOW</button>
        </li>
        <li>
          <button type="button" class="btn btn-outline-danger btn-pill-outline m-2">VOLUNTEER</button>
        </li>
      </ul>
    </div>
  </div>
</nav>