{% load static %}
<section class="become">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col text-center d-flex justify-content-center">
                <img class="img-fluid become"src="{% static 'shop/imgs/pngs/becomevol.png' %}" alt="">                
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col text-center d-flex justify-content-center">
                <p class="become-text">
                    As a Volunteer Now member you and your asociated comunity organizations have access to a wide variety of items, such as clothes, children's services, personal care products, items women's shelters, construction supplies for all kinds of projects, and even office supplies for everyday nonprofit needs. 
                </p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col text-center d-flex justify-content-center">
                <p class="become-text">
                    To join you must me a part of a non-profit or be asociated in one or more of the communites that we proudly serve across the metroplex. We will vet your application to verfiy your association and grant you membership to our program and services.
                </p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col text-center d-flex justify-content-center">
                <p class="become-text">
                    One of the services we offer is exclusive access to the Discount Depot. Every item at our Discount Depot is offered at an unbeatable price.  These items are provided to us through community donated goods. As a member you significantly reduce the amount of money spent on critical items.  This means that your hard earned money can be saved for your mission-driven work and for your personal essential needs.  With two shopping locations, one in Dallas and one in Fort Worth, shoppers across the metroplex can utilize and benefit from our the Donated Goods Program and shop at the The Discount Depot.
                </p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col text-lg-end text-sm-center">
                <img class="become-card" src="{% static 'shop/imgs/pngs/become_volunteer.png' %}" alt="">
            </div>
            <div class="col text-lg-start text-sm-center">
                <img class="become-card" src="{% static 'shop/imgs/pngs/become_discount.png' %}" alt="">
            </div>
        </div>
    </div>
</section>