{% load static %}
<section class="purpose">
  <div class="container">
      <div class="row justify-content-center align-items-center">
          <div class="col d-flex justify-content-center col-purpose">
              <div class="card text-center card-purpose">
                <div class="card-body">
                    <h4 class="card-title purpose">OUR PURPOSE</h4>
                    <p class="card-text purpose">The Discount Goods Depot provides nonprofits wuth access to items donated by area retailers for sale at a fractions of the retail cost. Our organization collects new, surplus and gently used donated goods from corporate donors such as JC Penny, Sam’s, Club & many more.  We sell anything from clothes to food to medication.</p>
                </div>
              </div>
          </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="col d-flex justify-content-center col-serve">
          <h4 class="serve">WE PROUDLY SERVE</h4>
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="col text-center col-serve">
          <img src="{% static 'shop/imgs/pngs/college.png' %}" alt="" class="serve">
          <img src="{% static 'shop/imgs/pngs/firefighters.png' %}" alt="" class="serve">
          <img src="{% static 'shop/imgs/pngs/emt.png' %}" alt="" class="serve">
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="col text-center col-serve">
          <img src="{% static 'shop/imgs/pngs/military.png' %}" alt="" class="serve">
          <img src="{% static 'shop/imgs/pngs/police.png' %}" alt="" class="serve">
          <img src="{% static 'shop/imgs/pngs/non-profits.png' %}" alt="" class="serve">
          <img src="{% static 'shop/imgs/pngs/teachers.png' %}" alt="" class="serve">
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="col text-center d-flex justify-content-center">
            <p class="intrested">If you are interested in shopping and fit into one of the categories mentioned above, please come by and make sure to bring a valid form of ID! If you think the organization you represent or work with/for would be interested in utilizing additional VolunteerNow services, please contact us at sales@volnow.org.</p>
        </div>
      </div>     
  </div>
</section>