{% load static %}
<section class="contact">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col text-center">
                <h1 class="cause">
                    BE A PART OF THE CAUSE AND CONTRIBUTE ITEMS TO 
                </h1>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col text-center">
                <h1 class="cause-dgp">
                    THE DONATED GOODS PROGRAM 
                </h1>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col text-center">
                <h1 class="in-need">
                    & HELP COMMUNITIES IN NEED
                </h1>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col text-center justify-content-center landfills">
                <p class="landfills">
                    Our Donated Goods Discount Depot program allows corporations to redirect items from landfills and donate for a better cause. It lets them to save money by allowing VolunteerNow to remove surplus inventory, and helps nonprofits stretch their dollars to cover vital needs.
                </p>
                <p class="landfills">
                    Additionally, corporate donations are tax-deductible and useful for corporate environmental sustainability and community stewardship programs. 
                </p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col text-center justify-content-center">
                <img class="chuck img-fluid"src="{% static 'shop/imgs/pngs/chuck.png' %}" alt="">
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col text-center">
                <h1 class="easy">
                    We make it easy! With no cost to you, we can arrange a pickup within 24 hours. 
                </h1>
            </div>
        </div>
    </div>
</section>


