{% load static %}
<section class="location">
    <div class="container">
        <div class="row mt-4">
            <div class="col text-center mt-4">
                <h3 class="location">LOCATIONS</h3>
            </div>
        </div> 
        <div class="row justify-content-center align-items-center">
            <div class="col text-lg-end text-center mx-lg-4">
                <img src="{% static 'shop/imgs/pngs/dallas_loc.png' %}" class="loc_dallas" alt="">               
            </div>
            <div class="col text-lg-start text-center mx-lg-4">
                <img src="{% static 'shop/imgs/pngs/fw_loc.png' %}" class="loc_fw" alt="">     
            </div>
        </div>
        <div class="row justify-content-center align-items-center my-4">
            <div class="col text-center">
                <button type="button" class="btn btn-outline-danger btn-pill-outline-2 m-2">STORE POLICIES & GUIDELINES</button>
            </div>
        </div>       
    </div>
</section>